{% extends base_auth %}

{% block title %}{{ 'gsf_user.auth.resetPassword.title'|trans }}{% endblock %}

{% block content %}
	<div class="gsf-reset_password" >
		
		<h1>{{ 'gsf_user.auth.resetPassword.title'|trans }}</h1>
		
		<div class="gsf-reset_password-form" >
			{{ form(form) }}
		</div>
		
		<div class="gsf-reset_password-link" >
			<a href="{{ login }}" class="gsf-link-login" title="Sign In" >Sign In</a>
			<a href="{{ register }}" class="gsf-link-register"   title="Register" >Register</a>
		</div>
	
	</div>
{% endblock %}