{% extends base_auth %}

{% block title %}{{ 'gsf_user.auth.reset_password.title'|trans }}{% endblock %}

{% block content %}
	<div class="gsf-reset_password" >
		
		<h1>{{ 'gsf_user.auth.reset_password.title'|trans }}</h1>
		
		<div class="gsf-reset_password-form" >
			{{ form(form) }}
		</div>
		
		<div class="gsf-reset_password-link" >
			<a href="{{ login }}" class="gsf-link-login" title="{{ 'gsf_user.auth.reset_password.login'|trans }}" >{{ 'gsf_user.auth.reset_password.login'|trans }}</a>
			<a href="{{ register }}" class="gsf-link-register"   title="{{ 'gsf_user.auth.reset_password.register'|trans }}" >{{ 'gsf_user.auth.reset_password.register'|trans }}</a>
		</div>
	
	</div>
{% endblock %}